@font-face {
  font-family: "PixelFont";
  src: url("fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#start-screen {
  font-family: "PixelFont", sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  user-select: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: calc(4vw + 3vh);
  width: 100%;
  height: 20%;
  background-color: #9fdf5b;
  color: #316a00;
  transition: transform 1s ease-out;
}

#icons {
  display: flex;
  position: absolute;
  left: 80%;
  font-size: calc(3vw + 2vh);
  color: #316a00;
}

.icon-link {
  color: inherit;
  margin-right: 1vw;
}

.icon-link:first-child {
  margin-left: 1vw;
}

.icon-link:hover {
  color: inherit;
}

#start-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  height: 22%;
  width: 15%;
  font-family: "PixelFont", sans-serif;
  font-size: calc(3vw + 1.5vh);
  color: #316a00;
  background-image: url("images/startImg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  image-rendering: pixelated;
  cursor: pointer;
  border: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#background-board {
  image-rendering: pixelated;
  z-index: 0;
}

#board {
  image-rendering: pixelated;
  z-index: 1;
}

#game-over-screen {
  font-family: "PixelFont", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #9fdf5b;
  color: #316a00;
  border-radius: 10px;
  text-align: center;
  z-index: 3;
  user-select: none;
}

#game-over-header {
  font-size: 2em;
  margin-bottom: 15px;
}

#score-display {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#game-over-buttons button {
  font-family: "PixelFont", sans-serif;
  font-size: 1em;
  color: #316a00;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}

#game-over-buttons button:hover {
  background-color: #9fdf5b;
}
