body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#background-board {
  image-rendering: pixelated;
  z-index: 0;
}

#board {
  image-rendering: pixelated;
  z-index: 1;
}
